In [3]:
import pandas as pd

import matplotlib.pyplot as plt

In [6]:
gdp_growth_rate_data = pd.read_csv('Dataset/IndiaGDPGrowthPercentageWorldBank.csv')
gdp_growth_rate_data.sample(5)

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
5,Last Updated: 03/18/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,India,IND,5.533455,3.840991,8.497585,5.241345,5.456359,6.386106,7.410228,7.996254,8.169527,7.167889,6.811369,..

In [ ]:
plt.figure (figsize = (20,10))
plt.plot(df_pred_actual_sample['predicted'],label='Predicted')
plt.plot(df_pred_actual_sample['actual'],label='Actual')

plt.ylabel('median_house_value')

plt.legend()
plt.show()